<div class="container-fluid bg-dark-gray mt-0 " style="height:100vh">
    <div class="row justify-content-center align-items-center" style="height:100vh">
        <div class="col-8 text-light mt-4">
            <div class="d-grid  gap-2">

<button href="/admin/adminProductos" class="btn btn-info">Productos ABM</button>
<button href="/admin/adminUsuarios" class="btn btn-info">usuario BM</button>
<button href="/admin/adminEmpleados" class="btn btn-info">Empleados ABM</button>

            </div>
        </div>
    </div>
</div>