<div class="container-fluid bg-dark m-0" style="height : 100vh">
    <div class="row justify-content-center align-items-center" style="height : 100vh">
        <div class="col-7 text-light">
            <form method="post" action="/admin/productos/update/:id">
                <div class="form-group">
                    <label for="productos">Nombre del producto<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" name="productos" id="productos" value = "{{productos.productos}}">
                </div>
                <label for="categoria">Categoria<span class="text-danger">*</span></label>
                <select name="categoria" id="categoria" class="form-select">
                    {{#each categorias}}
                    <option value="{{productos.id}}">{{producto.catgoria}}</option>
                    {{/each}}
                </select>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-info mt-3">Agregar producto</button>
                </div>
            </form>
        </div>

    </div>
</div>