<div class="container-fluid bg-dark">
        <div class="row justify-content-center align-items-center" style="height: 100vh"> 
                <div class="col-7">
                        <form method="post" action="/productos/create">
                                <div class="form-group mt-4"> 
                                <imput type="text" class="form-control" placeholder="ingresa tu producto " name="productos"> </imput>
                                </div>
                                        <div class="form-group mt-4"> 
                                                 <imput type="number" class="form-control" placeholder="ingresa el id de producto" name="id"> </imput>    
                                        </div>
                                                <div class="d-grid  gap-2">
                                                <button type="submit" class="btn btn-info">cree el producto ✌</button> 
                                                </div>      
                         </form>

                </div> 
        </div> 
</div>




