<div class="container">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{productos.id}}.</h5>
                    <p class="card-text">{{productos.productos}}.</p>
                    <p class="card-text">{{producto.categoría}}.</p>
                   <a href="/productos" class="btn btn-primary">Volver a los productos</a>
                </div>
            </div>
        </div>
    </div>
</div>