<div class="container-fluid  bg-dark" style="height : 100vh">
    <div class="container">
        <div class="row">
            <div class="col-12">
    <table class="table  text-white">
        <tr>
            <th>#</th>
            <th>productos</th>
            <th>categoría</th>
     
        </tr>
        {{#each productos}}
        <tr>
            <td>{{id}}</td>
            <td>{{productos}}</td>
            <td>{{categoría}}</td>
        </tr>
        {{/each}}
    </table>
</div>
     </div>
         </div>
</div>