<div class="container-fluid  bg-dark" style="height : 100vh">
    <div class="container">
        <div class="row">
            <div class="col-12 ">
            
        </div>
    </div>
    <table class="table  text-white">
        <tr>
        
            <th>#</th>
            <th>id</th>
            <th>productos</th>
            <th>Categoria</th>

          
        </tr>
        {{#each productos}}
        <tr>
          <td></td>
            <td>{{id}}</td>
            <td>{{productos}}</td>
            <td>{{categoría}}</td>

        {{/each}}
    </table>
</div>
</div>